.header {
    background: white;
    margin: 0;
    padding: 10px;
    min-height: 11vh;
    max-height: 11vh
}

.title {
    font-family: "Exo 2",sans-serif;
    font-weight: bold;
}

.subtitle {
    font-family: "Exo 2",sans-serif;
    color: grey;
}

.icons {
    color: #165C7D;
    font-size: 2em;
}

.viacredi {
    margin: auto;
    color: #165C7D;
    border: 2px solid #165C7D;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
    font-weight: bold;
}