.component {
    background: #165C7D;
    min-height: 100vh;
    padding: 0;
}

.item {
    margin-bottom: 1em;
}

.img {
    height: 70%;
    width: 70%;
}

.icons {
    color: white;
    font-size: 2em;
    width: 50%;
    margin: auto;
}

.filter {
    color: white;
    font-size: 1.6em;
    width: 50%;
    margin: auto;
}

.bi-sliders::before { 
    border: 2px solid white;
    padding: .1em;
    border-radius: 5px;
}