<div class="container component">
    <div class="row justify-content-center item">
        <img class="img" src="../../../assets/imgs/logo.png" />
    </div>
    <div class="row justify-content-center item">
        <i class="bi bi-list icons"></i>
    </div>
    <div class="row justify-content-center item">
        <i class="bi bi-search icons"></i>
    </div>
    <div class="row justify-content-center item">
        <i class="bi bi-star icons"></i>
    </div>
    <div class="row justify-content-center item">
        <i class="bi bi-chat-left-dots icons"></i>
    </div>
    <div class="row justify-content-center item">
        <i class="bi bi-sliders filter"></i>
    </div>
    <div class="row justify-content-center item">
        <i class="bi bi-bank icons"></i>
    </div>
</div>
