.body {
    min-height: 15em;
    min-width: 100%;
    border: .2px solid rgb(186, 180, 180);
    background: white;
    padding: 1em;
}

.subtitle {
    color: grey;
}

.link {
    color: #165C7D;
}

.account-icon {
    color: grey;
    font-size: 1em;
}

.check-icon {
    color: rgba(145, 221, 31, 0.906);
    font-size: 1em;
}

.label {
    color: rgb(196, 193, 193);
}

.value {
    color: grey;
}